.levels {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &__button {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__container {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
  }
}

//styles of level buttons
.level-button {
  width: 50px;
  height: 50px;
  border: 2px solid $fontColor;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.7s;
  color: $fontColor;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  &:hover {
    background: $fontColor;
    color: $backGround;
    border-radius: 30%;
    border-color: darken($fontColor, 20%);
  }
}
