* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $backGround;
  font-size: $fontSize;
  color: $fontColor;
  font-family: arial, sans-serif;
}

@import "game-layer";
@import "menu";
@import "buttons";
@import "levels-layer";
@import "result";
@import "canvas";
@import "settings";

.hidden {
  display: none;
}
